{% extends 'base.html' %}
{% block main %}
<h1>Secure Page</h1>
<p>Whenever you make a mistake or get knocked down by life, don’t look back at it too long. Mistakes are life’s way of teaching you. Your capacity for occasional blunders is inseparable from your capacity to reach your goals. No one wins them all, and your failures, when they happen, are just part of your growth. Shake off your blunders. How will you know your limits without an occasional failure? Never quit. Your turn will come.</p>
{% endblock %}